<div class="container">
  <!-- Vehicle Selection -->
  <div class="row">
    <div class="col-2">
      <select class="custom-select">
        <option selected="">Year</option>
        <option value="1">1999</option>
        <option value="2">2000</option>
        <option value="3">2012</option>
      </select>
    </div>
    <div class="col-3">
      <select class="custom-select">
        <option selected="">Make</option>
        <option *ngFor="let make of makes">
          {{make.make.makeName}}
      </select>
    </div>
    <div class="col-3">
      <select class="custom-select">
        <option selected="">Model</option>
        <option value="1">GranTurismo</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-3">
      <select class="custom-select">
        <option selected="">Trim</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <!-- Vehicle Details -->
  <div class="row">
    <div class="col-2">
      <button class="btn btn-outline-secondary">Options</button>
    </div>
    <div class="col-3">
      <select class="custom-select">
        <option selected="">Make</option>
        <option value="1">Toyota</option>
        <option value="2">Maserati</option>
        <option value="3">Tesla</option>
      </select>
    </div>
    <div class="col-3">
      <select class="custom-select">
        <option selected="">Condition</option>
        <option value="1">Excellent</option>
        <option value="2">Very Good</option>
        <option value="3">Sucks Ass</option>
      </select>
    </div>
    <div class="col-3">
      <input class="form-control" [(ngModel)]="mileage" name="mileage" placeholder="mileage" type="text">
    </div>
  </div>

  <!-- Vehicle Cost Breakdown -->
  <br/>
  <div class="row">
    <div class="container">

      <!-- Header Row -->
      <div class="row">
        <div class="col-lg">
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 0</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 1</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 2</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 3</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 4</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 5</p>
        </div>
      </div>

      <!-- Value -->
      <div class="row">
        <div class="col-lg">
          <p class="text-muted">Value:</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 0</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 1</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 2</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 3</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 4</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 5</p>
        </div>
      </div>

      <!-- Fuel -->
      <div class="row">
        <div class="col-lg">
          <p class="text-muted">Fuel:</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 0</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 1</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 2</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 3</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 4</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 5</p>
        </div>
      </div>

      <!-- Depreciation  -->
      <div class="row">
        <div class="col-lg">
          <p class="text-muted">Depreciation:</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 0</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 1</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 2</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 3</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 4</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 5</p>
        </div>
      </div>

      <!-- Total -->
      <div class="row">
        <div class="col-lg">
            <p class="text-muted">Total:</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 0</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 1</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 2</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 3</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 4</p>
        </div>
        <div class="col-lg">
          <p class="text-muted">YEAR 5</p>
        </div>
      </div>
    </div>
  </div>
</div>